.blist__dialog {
	width: 100%;
	max-width: var(--blist--dialog-width);
	position: relative;
	margin: auto;
	opacity: 0;
	background: var(--blist--dialog-background-color);
	background-clip: padding-box;
	box-shadow: 0 5px 15px var(--blist--dialog-shadow-color);
	border-radius: var(--blist--dialog-radius);;
	transform: scale(0.95);
	transition: all var(--blist--dialog-duration) ease-in-out;

	&__inner {
		padding: var(--blist--dialog-indent);
	}

	&__close {
		width: 24px;
		height: 24px;
		position: absolute;
		z-index: 10;
		top: 12px;
		right: 12px;
	}

	&__header {
		@include blist__box;
		text-align: center;

		h1 {
			margin-bottom: var(--blist--indent-half);
		}
	}

	&__logo {
		img {
			width: 350px;
			margin: 0 auto;
		}
	}

	&.is-show {
		opacity: 1;
		transform: scale(1);
	}
}
