.blist__dialog {
	$self: &;
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: all var(--blist--dialog-duration) ease-in-out;

	&__overlay {
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--blist--dialog-overlay-color);
		opacity: 0;
		transition: all var(--blist--dialog-duration) ease-in-out;
	}

	&__popup {
		width: 100%;
		max-width: var(--blist--dialog-width);
		position: relative;
		z-index: 2;
		margin: auto;
		padding: 24px;
		opacity: 0;
		background: var(--blist--dialog-background-color);
		box-shadow: 0 5px 15px var(--blist--dialog-shadow-color);
		border-radius: 8px;
		transform: scale(0.95);
		transition: all var(--blist--dialog-duration) ease-in-out;
	}

	&--show {
		visibility: visible;

		#{ $self }__overlay {
			opacity: 1;
		}

		#{ $self }__popup {
			opacity: 1;
			transform: scale(1);
		}
	}
}
