.blist__font {
  &--initial {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--blist--font--size);
    font-weight: var(--blist--font--weight);
    font-style: normal;
    line-height: var(--blist--font--height);
    letter-spacing: initial;
    word-spacing: initial;
    white-space: initial;
    text-align: initial;
    text-indent: initial;
    text-transform: none;
    text-shadow: none;
    text-decoration: none;
    color: var(--blist--color-primary);
  }

  &--inherit {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    white-space: inherit;
    text-align: inherit;
    text-indent: inherit;
    text-transform: inherit;
    text-shadow: inherit;
    text-decoration: inherit;
    color: inherit;
  }

  &--hint {
    font-size: var(--blist--hint--size);
    font-weight: var(--blist--hint--weight);
    line-height: var(--blist--hint--height);
  }

  &--error {
    font-size: var(--blist--error--size);
    font-weight: var(--blist--error--weight);
    line-height: var(--blist--error--height);
  }

  &--h1 {
    font-size: var(--blist--h1--size);
    font-weight: var(--blist--h1--weight);
    line-height: var(--blist--h1--height);
  }

  &--h2 {
    font-size: var(--blist--h2--size);
    font-weight: var(--blist--h2--weight);
    line-height: var(--blist--h2--height);
  }

  &--a {
    font-weight: var(--blist--a--weight);
    color: var(--blist--a--color);
  }
}
