.blist__form {
	&__header,
	&__notification,
	&__content,
	&__footer {
		@include box;
		position: relative;
	}

	&__header {
		text-align: center;
	}

	&__notification {
		@extend .blist__font--hint;
		padding: var(--blist--indent-half);
		border: 1px solid var(--blist--border-color);
		border-radius: var(--blist--border-radius);
		box-shadow: var(--blist--shadow);

		&.is-danger {
			background: var(--blist--color-error-bacgkround);
			border-color: var(--blist--color-error-border);
			color: var(--blist--color-error);
		}

		&.is-hidden {
			display: none;
		}
	}
}

/*** FIELD ***/

@mixin field {
	margin-bottom: var(--blist--field-indent);
}

.blist__field.blist__field {
	@include field;
}

/*** INPUT **/

@mixin input {
	height: var(--blist--field-height);
	padding: calc((var(--blist--field-height) - var(--blist--font--height)) / 2) 8px;
	background: var(--blist--color-background);
	border: 1px solid var(--blist--border-color);
	border-radius: var(--blist--border-radius);
	transition: all var(--blist--transition-duration) ease-in-out;

	&::placeholder {
		@extend .blist__font--inherit;
		color: var(--blist--color-secondary);
		opacity: 1;
	}

	&:hover,
	&:active {
		background: var(--blist--color-secondary-bacgkround);
	}

	&:focus {
		background: var(--blist--color-secondary-bacgkround);
		border-color: var(--blist--color-accent);
		box-shadow: 0 0 1px var(--blist--color-accent);
		transition: all var(--blist--transition-duration-fast) ease-in-out;
	}

	&.is-invalid {
		border-color: var(--blist--color-error);
		color: var(--blist--color-error);

		&:focus {
			box-shadow: 0 0 1px var(--blist--color-error);
		}
	}
}

.blist__input.blist__input {
	@include input;
}

/*** BUTTON ***/

@mixin button {
	height: var(--blist--field-height);
	padding: calc((var(--blist--field-height) - var(--blist--font--height)) / 2) 8px;
	background: var(--blist--color-accent);
	border-radius: var(--blist--border-radius);
	color: var(--blist--button--color);
	font-weight: var(--blist--button--weight);
	text-transform: uppercase;
	cursor: pointer;
	transition: all var(--blist--transition-duration) ease-in-out;

	&:hover,
	&:active,
	&:focus {
		background: var(--blist--color-accent);
		transition: all var(--blist--transition-duration-fast) ease-in-out;
	}

	&:active {
		box-shadow: var(--blist--button--active-shadow);
	}

	&--primary {
		background: var(--blist--color-accent);

		&:hover,
		&:active {
			background: var(--blist--color-accent-hover);
		}
	}

	&--secondary {
		background: var(--blist--color-secondary);

		&:hover,
		&:active {
			background: var(--blist--color-secondary-hover);
		}
	}
}

.blist__button.blist__button {
	@include button;
}
