.blist__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: var(--blist--overlay-color);
  transition: all var(--blist--overlay-duration) ease-in-out;

  &__spinner {
    width: var(--blist--overlay--spinner-size);
    height: var(--blist--overlay--spinner-size);
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid var(--blist--color-separator);
    border-top-color: var(--blist--color-accent);
    border-radius: 50%;
    animation: blist__spinner 2s linear infinite;
  }

  &__logo {
    width: var(--blist--overlay--logo-size);
    height: var(--blist--overlay--logo-size);
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.8);
    animation: blist__pulse 3s ease-in-out infinite;

    .blist__svg {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__content-inner {
    margin-top: var(--blist--overlay--logo-size);
    transform: translateY(50%);
    text-align: center;
    text-shadow:
        0 0 4px rgba(0,0,0,0.4),
        0 0 12px #ffffff,
        0 0 12px #ffffff,
        0 0 12px #ffffff;
  }

  &.is-hide {
    visibility: hidden;
    opacity: 0;
  }

  &.is-show {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes blist__spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blist__pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(0.8);
  }
}
