:root {
	--blist--dialog-duration: 500ms;
	--blist--dialog-width: 720px;
	--blist--dialog-background-color: #ffffff;
	--blist--dialog-shadow-color: rgba(0,0,0,0.15);
	--blist--dialog-overlay-color: rgba(0,0,0,0.5);
}
